/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes menu_button {
  to {
    opacity: 0.6;
  }
}

@keyframes button_underline {
  from {
    width: 0;
  }

  to {
    width: 100%
  }
}

@keyframes menu_arrow {
  from {
    right: 95px;
  }  

  25% {
    right: 96px;
  }

  50% {
    right: 97px;
  }

  75% {
    right: 98px;
  }

  to {
    right: 99px;
  }
}

@-moz-keyframes menu_arrow {
  from {
    -moz-right: 95px;
  }  

  25% {
    -moz-right: 96px;
  }

  50% {
    -moz-right: 97px;
  }

  75% {
    -moz-right: 98px;
  }

  to {
    -moz-right: 99px;
  }
}

@keyframes liked {
  from {
    scale: 1;
  }  
  
  50% {
    scale: 1.5;
  }

  to {
    scale: 1;
  }
}

@keyframes sparks_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes sparks_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes icon_border {
  from {
    border: 2px solid transparent;
  }
  to {
    border: 2px solid var(--accent_color);
  }
}

@keyframes like_save_btn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}